<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/04631c7ff1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="media.css" />
  <title>HealthApp - Food Tracker</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand " href="#"><span class="appLogoStart">Health</span>App</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#myTogglerCustom">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myTogglerCustom">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>

          <li class="nav-item">
            <button class="btn btn-danger ml-3" data-toggle="modal" data-target="#login-modal">Login</button>

            <div class="modal" id="login-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form>

                      <div class="form-group">
                        <label for="username">Username:</label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user"></i>
                            </span>
                          </div>
                          <input class="form-control" type="text" placeholder="Username">
                        </div>

                      </div>

                      <div class="form-group">
                        <label for="password">Password:</label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-lock text-dark"></i>
                            </span>
                          </div>
                          <input type="password" placeholder="Password" class="form-control">
                        </div>
                      </div>

                      <a id="account-link" href="#" class="btn btn-link p-0">Forgot Password?</a>

                    </form>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn btn-primary sign-btn" data-dismiss="modal">Sign Up</a>
                    <a href="#" class="btn btn-danger sign-btn" data-dismiss="modal">Login</a>

                  </div>
                </div>
              </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header>
    <div id="main-header" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="header-image" class="d-block img-fluid" src="./img/main.png" alt="First Slide">
          <div id="carousel-text" class="carousel-caption d-none d-md-block">
            <h3 class="display-6 text-dark mb-4">A Healthy Application That Improves Your <mark
                class="highlight-red">Lifestyle</mark></h3>
            <p class="text-dark lead">At HealthApp, our mission is to help you create a balanced diet. The application
              has over thousands of recipes that can shape you.</p>
            <a href="#" class='btn btn-outline-warning'>Learn More</a>
          </div>
        </div>
      </div>

  </header>

  <!-- Services -->
  <main id="main-services" class="bg-light py-4" style="background-color: #fcfbfd;">
    <div class="container">
      <h5 class="text-center text-black pb-3">Our Services</h5>
      <div class="d-flex justify-content-around flex-row flex-wrap">

        <div class="mb-4">
          <div class="card" style="width:14rem;height: 10rem">
            <div class="card-body">
              <h5 class="card-title">Access to Recipes</h5>
              <div class="card-divider"></div>
              <p class="card-text mt-2">Our Application offers thousands of recipes.</p>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <div class="card" style="width:14rem;height:10rem">
            <div class="card-body">
              <h5 class="card-title">Diet Plan</h5>
              <div class="card-divider"></div>
              <p class="card-text mt-2">Plan your diet according to your calorie intake.</p>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <div class="card" style="width:14rem;height:10rem">
            <div class="card-body">
              <h5 class="card-title">Tracking Tool</h5>
              <div class="card-divider"></div>
              <p class="card-text mt-2">A tracking tool that can help you follow your diet closely.</p>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <div class="card" style="width:14rem;height:10rem">
            <div class="card-body">
              <h5>ALL SERVICES</h5>
              <a href="#" class="btn btn-warning mt-4">See Services</a>
            </div>
          </div>
        </div>

      </div>
  </main>

  <!-- Learn More -->
  <!-- Team -->
  <!-- Footer -->

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    </script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>