/* Utilities */
.highlight-red {
  background: #ffe6e6;
  border-radius: 6px;
  opacity: 80%;
}

.card-divider {
  margin: 0;
  width: 25%;
  height: 1px;
  border-bottom: 2px solid #f0ad4e;
}

/* Navbar */
.appLogoStart {
  color: #80ff80;
  font-weight: 600;
}

nav>div>a {
  font-weight: 500;
}

#account-link {
  text-decoration: underline;
}

.sign-btn {
  width: 5rem;
}

/* Header */
#header-image {
  opacity: 40%;
}