<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Healthy Theory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">The Healthy Theory</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="searchBar">
  <ion-searchbar value="Top Dieticians...."></ion-searchbar>
  <ion-icon size="large" name="navigate"></ion-icon>
  </div>
  <ion-button (click)="locate()">Locate me (Test)</ion-button>
  <ion-text class="coords">My Address : {{address.subLocality ? address.subLocality +', ' : ''}}
    {{address.locality ? address.locality +', ' : ''}}{{address.administrativeArea ? address.administrativeArea +', ' : ''}}
    {{address.postalCode ? address.postalCode +', ' : ''}}{{address.countryName ? address.countryName : ''}}
  </ion-text>
  <ion-button (click)="reverseGeocode()" expand="full">Get My Address</ion-button>
</ion-content>
