<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Healthy Theory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">The Healthy Theory</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="searchBar">
  <ion-searchbar placeholder="Top Dieticians...."></ion-searchbar>

  <ion-icon size="large" name="navigate"></ion-icon>
  </div>
  <!-- <ion-text class="coords"> {{address.subLocality ? address.subLocality +', ' : ''}}
    {{address.locality ? address.locality +', ' : ''}}{{address.administrativeArea ? address.administrativeArea +', ' : ''}}
    {{address.postalCode ? address.postalCode +', ' : ''}}
  </ion-text>

  <ion-button (click)="reverseGeocode()" expand="full">Get My Address</ion-button>
  </div> -->

  <!-- <ion-button (click)="locate()">Locate me (Test)</ion-button> -->
  <ion-grid class = "topRecommendations">
    <ion-row class = "recommendationsRow">
      <ion-col>
        <ion-card>
          <h1 orange>27</h1>
          <p>A homolar</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <h1 grey>10</h1>
          <p>Encerradas</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class = "recommendationsRow">
      <ion-col>
        <ion-card>
          <h1 grey>10</h1>
          <p>Encerradas</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <h1 grey>10</h1>
          <p>Encerradas</p>
        </ion-card>
      </ion-col>
    </ion-row>
 </ion-grid>
  
 <p>Data will be presented here...</p>
<p>{{ dietician.id}}</p>
</ion-content>
